[Desktop Entry]
Name=Pixel Play Launcher
Comment=Minecraft launcher
Exec=pixelplay-launcher %U
Icon=pixelplay-launcher
Terminal=false
Type=Application
Categories=Game;
